.buttonsContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.clock {
    position: relative;
}

.watch {
    margin-bottom: 55px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weigth: 400;
    color: rgb(0, 0, 0);
}

.watch strong {
    font-weigth: 600;
}

.more {
    position: absolute;
    top: 30px;
    left: 0;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weigth: 400;
    color: rgba(0, 0, 0, 0.5);
}