.buttonsContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.clock {
    position: relative;
}

.watch {
    margin-bottom: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    /*color: rgb(0, 0, 0);*/
    color: var(--color);
}

.watch strong {
    font-weight: 600;
}

.more {
    position: absolute;
    top: 30px;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    /*color: rgba(0, 0, 0, 0.5);*/
    color: var(--color);
    opacity: 0.5;
}