@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
    --header_height: 60px;
}

.hwTitle {
    width: 1140px;
    margin: 0 auto;
    padding: 64px 0 10px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hw {
    margin: 0 auto 64px;
    padding: 24px 0 32px;
    background: #FFF;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
}